<h1>Recover User Account</h1>
<p>An account recovery request was made to this email address. For security purposes your password has been reset. Please log in with the following password, and change to a new one at your convenience.</p>
<h2>New Password:</h2>
<p>{{password}}</p>